@import "../../styles/variables.scss";

.dropdownList {
  min-width: 242px;
  width: 100%;

}

.title {
  margin-right: 50px;
  margin-bottom: 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caption {
  color: $inputCaption;
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 0;
}

.select {
  height: 36px;
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  border: 1px solid $inputColor;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 16px;
  cursor: pointer;

  &.error {
    margin-bottom: 0;
  }

  &_open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
  }



}

.menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  max-height: 181px;
  margin-top: 7px;
  -webkit-box-shadow: 0px 0px 0px 1px $inputColor;
  -moz-box-shadow: 0px 0px 0px 1px $inputColor;
  box-shadow: 0px 0px 0px 1px $inputColor;
  border-top: none;
  &.bigHeight {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 3px;
      background: #e4e4e4;
    }

    &::-webkit-scrollbar-thumb {
      height: 42px;
      background: #8d8d8d;
      border-radius: 3px;
    }
  }
  &.bigWidth {
    z-index: 0;
    width: 514px;
  }
}

.placeholder {
  color: $nullColor;
}

.option {
  background-color: $thirdColor;
  color: $primaryColor;
  padding: 6px 12px 6px 16px;
  font-size: 14px;
  transition: all 0.1s linear;
  box-sizing: border-box;

  &:hover:not(.disabled) {
    background:  rgb(241, 241, 241);;
    color: $primaryColor;
  }
/* 
  &.disabled {
    background-color: rgb(241, 241, 241);
    cursor: not-allowed;
  } */
}

.error {
  &_text {
    font-size: 13px;
    color: $statusHard;
  }
}

.clicked {
  background:  rgb(241, 241, 241);;
  color: $primaryColor;
  font-weight: 600;
}

.arrow {
  position: absolute;
  top: 6px;
  right: 16px;
  transition: all 0.2s linear;

  &_open {
    transform: rotateX(180deg);
  }
}

@media (max-width: 767px) {
  .select {
    padding: 8px 0;
  }

  .arrow {
    top: 16px;
  }

  .menu {
    width: 100.4%;
    margin-left: -1.5px;
    max-height: 181px;
    margin-top: 8.5px;
    &.bigWidth {
      width: 100.4%;
    }
  }

  .title {
    margin-left: 14px;
    font-size: 14px;
    line-height: 20px;
  }

  .option {
    padding: 4px 10px 4px 14px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 570px) {
  .menu {
    width: 100.6%;
    &.bigWidth {
      width: 100.6%;
    }
  }
}

@media (max-width: 386px) {
  .menu {
    width: 100.8%;
    &.bigWidth {
      width: 100.8%;
    }
  }
}
