@import "../../styles/variables.scss";

.link {
  text-decoration: none;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: block;
  &:last-child {
    margin-right: 0;
  }
}

.img {
  width: 32px;
  height: 32px;
}