@import "../../styles/variables.scss";

.applicationTree {
    // margin: 122px 0 0 50px;
    // background-color: $thirdColor;
    width: 100%;
    display: flex;
    border-radius: 10px;
    font-size: 4;
}

.rightBlock {
    width: 100%;
}
