@import "../../styles/variables.scss";

.block {
  max-width: 288px;
  width: 100%;
  height: 180px;
  border-radius: 15px;
  background-color: $thirdColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 288px;
}

.CircleFunc {
  position: relative;
  top: -10px;
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: 49;
  padding-left: 31px;
  color: #828690;
}

.application {
  padding-left: 31px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: -3px;
}

.unit {
  fill: none;
  stroke-width: 4px;

  animation-name: render;
  animation-duration: 1.5s;

  transition-property: all;
  transition-duration: 0.9s;

  cursor: pointer;
}

.unit:hover {
  opacity: 0.8;
  stroke-width: 6;
}

.unit:nth-child(1) {
  stroke: #72dc00;
  // stroke-dasharray: 28 100;
}

.unit:nth-child(2) {
  stroke: #f47633;
  // stroke-dasharray: 42 100;
  // stroke-dashoffset: -28;
}

.unit:nth-child(3) {
  stroke: #e6eaee;
  // stroke-dasharray: 30 100;
  // stroke-dashoffset: -70;
}

.legend {
  width: 100%;
  font-size: 10px;
}

.caption_list {
  margin: 0;
  padding-left: 26px;
  list-style: none;
}

.caption_item {
  position: relative;
  margin: 5px 0;
  padding-left: 30px;
  line-height: 18px;
  color: #828690;
  cursor: pointer;
}

.caption_item:hover {
  opacity: 0.8;
}

.caption_item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;

  width: 15px;
  height: 7px;

  border-radius: 3px;
}

.caption_item:nth-child(1)::before {
  background-color: #72dc00;
}

.caption_item:nth-child(2)::before {
  background-color: #f47633;
}

.caption_item:nth-child(3)::before {
  background-color: #e6eaee;
}

@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}
