@import "../../styles/variables.scss";

.container {
  position: relative;
}

.box {
  width: 550px;
  min-height: 48px;
  background-color: $thirdColor;
  border: 1px solid $notifyColor;
  border-radius: 10px;
  border-radius: 10px;
  padding-top: 14px;
  padding-left: 17px;

  &_text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: $notifyColor;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 480px;
  }

  &_open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.arrow {
  position: absolute;
  top: 13px;
  right: 21px;
  margin-left: 4px;

  transition: all 0.2s ease;
  &.open {
    transform: rotateX(180deg);
  }
}

.popup {
  position: absolute;
  top: 43px;
  right: 648px;
}
