@import "../../styles/variables.scss";

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  color: $primaryColor;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4;
  inset: 0;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  &_opened {
    visibility: visible;
    opacity: 1;
  }
  &__container {
    position: relative;
    width: 539px;
    background: $thirdColor;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    margin: 0;
  }
}

.popupForm {
  display: flex;
  flex-direction: column;
  /*    align-items: center;
    max-width: 457px; */
}

.btnClose {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../../images/icons/Close_Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  right: -33px;
  top: -33px;
  background-color: transparent;

  &:hover {
    opacity: 0.75;
  }
}

.title {
  margin: 0;
  max-width: 330px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: $primaryColor;
  padding: 0;
}

.buttons {
  display: flex;
  align-items: center;
}

.cancel {
  margin: 0;
  color: $primaryColor;
  font-size: 16px;
  cursor: pointer;
  color: $inputCaption;
  transition: opacity 0.15s linear;

  &:hover {
    opacity: 0.7;
  }
}
