$mainColor: #20814d;
$primaryColor: #353535;
$secondaryColor: #acacad;
$thirdColor: #fff;
$bgColor: #e9eaed;
$linkColor: #0f1e54;
$dashboardTitleColor: #373737;
$notifyColor: #f47633;
$subtitleColor: #828690;
