$mainColor: #20814d;
$primaryColor: #353535;
$secondaryColor: #acacad;
$thirdColor: #fff;
$bgColor: #e9eaed;
$linkColor: #0f1e54;
$statusDoneColor: #e7fad3;
$statusDoColor: #e0e6ff;
$statusToDoColor: #ffe7e7;
$dashboardTitleColor: #373737;
$notifyColor: #f47633;
$subtitleColor: #828690;
$progressBar: #e6eaee;
$progressBarBlue: #3b9acd;
