$mainColor: #20814d;
$primaryColor: #353535;
$secondaryColor: #acacad;
$thirdColor: #fff;
$bgColor: #e9eaed;
$linkColor: #0f1e54;
$statusDoneColor: #e7fad3;
$statusDoColor: #e0e6ff;
$statusToDoColor: #ffe7e7;
$dashboardTitleColor: #373737;
$notifyColor: #f47633;
$subtitleColor: #828690;
$bgNullColor: #eaeaea;
$nullColor: rgba(0, 0, 0, 0.5);
$progressBarBg: #e6eaee;
$progressBar: #3b9acd;
$inputColor: #c8c6c6;
$inputCaption: #5c5d5e;
$line: #bdbdbd;
$statusHard: #dd2025;
$borderPopup: #cecfcf;
$dropDown: #f7f7f7;
$schemeBorder: #000;
