@import "../../styles/variables.scss";

.app {
  display: flex;
  background-color: #f8f8f8;
  color: $primaryColor;
  font-family: "Poppins", sans-serif;

}

@media screen and (max-width: 592px) {
.app {
  background-color: $thirdColor;
}
}
