@import "../../styles/variables.scss";

.block {
  max-width: 1687.86px;
  width: 100%;
  padding-left: 41px;
}

.sample {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 51px;
}

.conteiner {
  display: flex;
  flex-direction: column;
  background-color: $thirdColor;
  max-width: 600px;
  width: 100%;
  padding-left: 59px;
  padding-right: 41px;
  padding-bottom: 183px;
  border-radius: 10px;
  border: 1px solid #f0f2f5;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  margin-right: 51px;

  &_title {
    margin-top: 43px;
    margin-bottom: 14px;
  }

  &_block {
    display: flex;
    flex-direction: column;
  }
}

.conteinerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $thirdColor;
  max-width: 849px;
  width: 100%;
  padding-left: 49px;
  padding-right: 73px;
  padding-bottom: 110px;
  border-radius: 10px;
  border: 1px solid #f0f2f5;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);

  &_title {
    margin-top: 43px;
    margin-bottom: 51px;
  }
}

.table_block {
  height: 381px;
}

.tableTitle {
  list-style: none;
  display: grid;
  grid-template-columns: 163px 211px 179px 80px;
  padding: 0;
  margin: 0;

  &_column {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: $subtitleColor;
    margin-bottom: 37px;
  }
}

.table {
  list-style: none;
  display: grid;
  grid-template-columns: 175px 211px 179px 80px;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &_row {
    font-size: 14px;
    color: $primaryColor;
    margin-bottom: 33px;
    min-height: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_avatar {
    margin-left: -10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &_icon {
    display: flex;
  }
}

.block_avatar {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  margin-top: 30px;

  &_text {
    border: none;
    background-color: $thirdColor;
    color: $primaryColor;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0;

    &:hover {
      opacity: 0.7;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 78px;
}
