.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
  min-height: 100vh;
}


@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media screen and (max-width: 592px) {
  .wrapper {
    padding: 0;
  }
}

// @media screen and (max-width: 558px) {
//   .wrapper {
//     padding: 0;
//   }
// }
