@import "../../styles/variables.scss";

.container {
  background-color: $thirdColor;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1688px;
  padding: 30px 15px;
  box-sizing: border-box;
  &.mini {
    padding: 30px 20px;
    width: 100%;
    max-width: 800px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: $dashboardTitleColor;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 545px;
  width: 100%;
  &_mini {
    height: 285px;
  }

  overflow: hidden;
}

.row {
  align-items: center;
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: $dashboardTitleColor;
  transition: opacity 0.2s ease;
  padding: 20px 0;
  text-align-last: left;

  width: 100%;

  & > th {
    font-weight: 400;
  }
  &_mini {
    column-gap: 8px;
    grid-template-columns: minmax(120px,1fr) minmax(123px,1fr) 140px minmax(110px,1fr) minmax(132px,1fr) minmax(85px,1fr);
    & > td {
      text-overflow: ellipsis;
      white-space: nowrap; 
      overflow: hidden;

    }
  }
  & > li {
    align-self: center;
  }

  &_maxi {
    grid-template-columns: repeat(11, 1fr);
    gap: 7px;
  }
  &.header {
    color: $subtitleColor;
  }
  &.link {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  &::after{
    content: '';
    
  }
}

.implements {
  width: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  &__item {
    margin-right: -7px;
  }

  &__notfound {
    margin: 0;
  }

  &__file {
    display: flex;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_without {
    justify-content: flex-end;
  }
}

.linkAll {
  text-decoration: none;
  font-size: 13px;
  color: $subtitleColor;
}

.error {
  font-size: 14px;
  margin: 0;
}
