@import "../../styles/variables.scss";

.calendarTittleArea {
    height: 53px;
    width: 384px;
    box-sizing: border-box;
    box-shadow: 1px -1px 1px 0px #F0F2F5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calendarTittle {
    position: relative;
    padding-left: 20px;
    top: 25px;
    font-size: 24px;
    font-weight: bold;
}