@import "../../styles/variables.scss";

.calendarTittleArea {
    background-color: $thirdColor;
    width: 384px;
    box-sizing: border-box;
    border-radius: 15px;
}

.calendarTittle {
    position: relative;
    padding-left: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
}