.react-calendar { 
    width: 384px;
    /* min-height: 488px; */
    /* height: 45vh; */
    height: 452px;
    max-width: 100%;
    background-color: #fff;
    color: #828690;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: "Poppins";
    padding: 17px;
    /* line-height: 1.125em; */
   }
  
   .react-calendar__navigation button {
    color: #828690;
    min-width: 44px;
    background:none;
    font-size: 14px;
    margin-top: 8px;
   }
  
  .react-calendar--doubleView {
    width: 384px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    max-height: 46px;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
  }
  .react-calendar__navigation button {
    /* background: none; */
    padding: 0px;

  }

  button.react-calendar__navigation__prev2-button {
    opacity: 0;
    z-index: -1;
  }
  button.react-calendar__navigation__next2-button {
    opacity: 0;
    z-index: -1;
  }

  button.react-calendar__navigation__prev-button {
    height: 46px;
    color: #3B9ACD;
    background-color: #E7F5FF;
    border-radius: 6px;
    right: 40px;
    font-size: 30px;
    font-weight: 600;
    padding: 0px;
    position: relative;
  }
  button.react-calendar__navigation__next-button {
    height: 46px;
    color: #3B9ACD;
    background-color: #E7F5FF;
    border-radius: 6px;
    left: 40px;
    font-size: 30px;
    font-weight: 600;
    padding: 0px;
    position: relative;
  }

  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    opacity: 0.75;
  }
  .react-calendar__navigation button[disabled] {
    /* background-color: #1000f3; */
    position: relative;
    max-width: 174px;

  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    /* padding: 0.5em; */
    color: #828690;
    font-family: "Poppins";
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    width: 50px;
    /* height: 6vh; */
    min-height: 54px;
    border-radius: 6px;
    padding: 0.75em 0.5em;
    background: none;
    color: #828690;
  }
  .react-calendar__month-view__days__day--weekend {
    /* color: #d10000; */
    color: #F47633;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #82869070;
  }
  .react-calendar__tile:disabled {
    background-color: #fa0000;
  }
  .react-calendar__tile:enabled:hover{
    background-color: #3b9acd9a;
    /* opacity: 0.75; */
  }
  .react-calendar__tile:enabled:focus {
    background-color: #3b9acdf7;
    color: #E7F5FF;
    font-weight: bold;
    /* opacity: 0.75; */
  }
  .react-calendar__tile--now {
    /* background: #ffff76; */
    color: #fff;
    background-color: #3B9ACD;
    font-weight: bold;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #3B9ACD;
    opacity: 0.75;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #6f48eb;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #3b9acdf7;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }