@import "../../styles/variables.scss";

.container {
  margin-top: 40px;
}

.manager {
  display: flex;
  gap: 35px;

  &__container {
    background-color: $thirdColor;
    min-width: 462px;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
  }

  &__title {
    font-size: 20px;
    padding-bottom: 15px;
    margin: 0;
  }

  &__buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  &__textarea {
    max-width: 422px;
  }

  &__input {
    width: 100%;
    max-width: 422px;
    margin-bottom: 15px;
  }
}

.input {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  border: 1px solid $inputColor;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  color: $primaryColor;
  font-family: "Poppins", sans-serif;
  height: 40px;
  &_open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.error {
    border: 1px solid $statusHard;
  }

  &::placeholder {
    color: $nullColor;
  }
}

.circleButton {
  position: absolute;
  right: -40px;
}

.block {
  position: relative;
  margin-bottom: 15px;
  &__container {
    display: flex;
    align-items: center;
  }
}

.error {
  &_text {
    left: 0;
    bottom: -25px;
    position: absolute;
    color: $statusHard;
  }
}

.caption {
  color: $inputCaption;
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 0;
}

.cancel {
  margin: 0;
  color: $primaryColor;
  font-size: 16px;
  cursor: pointer;
  color: $inputCaption;
  transition: opacity 0.15s linear;
  &:hover {
    opacity: 0.7;
  }
}

.form {
  padding: 20px 0;
}

.search {
  position: relative;
  max-width: 382px;
}

.dropdownlist {
  list-style: none;
  margin: 0;
  padding: 0 16px;
  width: 100%;

  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-height: 100px;
  position: absolute;
  background: $thirdColor;
  z-index: 2;
  border: 1px solid $inputColor;
  border-top: none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  &::-webkit-scrollbar-thumb {
    background: $inputColor;
    border-radius: 10px;
    width: 3px;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }

  &__item {
    padding: 4px 0;
    transition: opacity 0.15s linear;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

//СТИЛИ ДЛА ОТДЕЛЬНОЙ СТРАНИЦЫ МЕНЕДЖЕРА---------------------------------------------------------------------------------------------------------------------------
.commentsManager {
  max-width: 600px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 66px;
  padding-right: 50px;
  padding-bottom: 62px;
}

.popup {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin-top: 50px;
  background-color: $thirdColor;
  border-radius: 10px;
  width: 100%;

  &_edit {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.fileList {
  display: flex;
  flex-wrap: wrap;
  width: 217px;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.conteiner {
  display: flex;
  flex-direction: column;
  padding-left: 66px;
  padding-right: 50px;
  padding-bottom: 62px;
  max-width: 422px;
  width: 100%;
  &_title {
    margin-top: 50px;
    margin-bottom: 14px;
  }
  &_titleTree {
    margin-top: 35px;
    margin-bottom: 14px;
    &_mt0 {
      margin-top: 0;
    }
  }
}

.infomation {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0 40px;
  border-right: 1px solid $line;
  padding-bottom: 50px;
}

.blockText {
  margin-bottom: 20px;
  &_title {
    font-size: 14px;
    line-height: auto;
    margin-bottom: 5px;
    margin-top: 0;
    color: $inputCaption;
  }

  &_text {
    margin: 0;
    font-size: 14px;
    line-height: auto;
    color: $primaryColor;
  }


}

.blockInf {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  & > span {
    margin-right: 7px;
    font-size: 14px;
    line-height: auto;
    margin-bottom: 5px;
    margin-top: 0;
    color: $inputCaption;
  }
}

.delete {
  text-decoration: none;
  color: $statusHard;
  transition: opacity 0.15s linear;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.changeButtons {
  margin-top: auto;
}

.editIcon {
  width: 16px;
  height: 16px;
}

.error {
  font-size: 14px;
  color: $statusHard;
}

//СТИЛИ ДЛА ОТДЕЛЬНОЙ СТРАНИЦЫ ГЛАВНОЕГО ИНЖЕНЕРА---------------------------------------------------------------------------------------------------------------------------
.tree {
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    margin-bottom: 35px;
  }
}

.filesContainer {
  display: flex;
}

.button__nav {
  border: none;
  outline: none;
  background: none;
  color: $primaryColor;
  font-size: 16px;
  margin-right: 17px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  &.active {
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.edit__container {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

//СТИЛИ ДЛА ОТДЕЛЬНОЙ СТРАНИЦЫ ЗАКУПЩИКА---------------------------------------------------------------------------------------------------------------------------
.bigWidthButton {
  max-width: 420px;
  margin-right: 20px;
}

//СТИЛИ ДЛА ОТДЕЛЬНОЙ СТРАНИЦЫ ЗАМ ДИРЕКТОРА---------------------------------------------------------------------------------------------------------------------------

.blockUsers {
  box-sizing: border-box;
  padding: 41px 50px 50px 50px;

  &_title {
    margin: 0;
    margin-bottom: 14px;
  }

  &_header {
    margin-bottom: 30px;
  }
}

.margin {
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 63.5vh;
  }

  &__table {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &_cell {
      width: 294px;
      padding-bottom: 31px;
    }

    &_text {
      padding-top: 4px;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.buttonsAksynia {
  display: flex;
}

.dropdownlist_padding {
  margin-bottom: 8px;
}

.applications__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

//СТИЛИ ДЛА ОТДЕЛЬНОЙ СТРАНИЦЫ ЮРИСТОВ---------------------------------------------------------------------------------------------------------------------------

.calendar {
  max-width: 383px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_block {
    position: relative;
  }

  &_icon {
    right: 21px;
    top: 32px;
    position: absolute;
    cursor: pointer;
  }

  &_style {
    border: 1px solid #c8c6c6;
    border-radius: 10px;
  }
}

.deadline {
  max-width: 271px;
  width: 100%;
  background-color: $statusDoneColor;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 25px 34px 26px 23px;

  &__week {
    font-size: 24px;
    font-weight: 800;
    color: $primaryColor;
    margin: 0;
    margin-bottom: 26px;
  }

  &__day {
    font-size: 15px;
    font-weight: 400;
    color: $mainColor;
    margin-bottom: 36px;
  }
}

//СТИЛИ ДЛА ОТДЕЛЬНОЙ СТРАНИЦЫ ИНЖЕНЕРА---------------------------------------------------------------------------------------------------------------------------

.input_file {
  position: relative;

}

.input_file_blk {
  display: flex;
  align-items: center;
  gap: 30px
}

.input_file_btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  width: 250px;

  color: rgb(255 255 255);
  font-family: "Montserrat", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $notifyColor;
  height: 40px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: opacity 0.2s;
}
.input_file_text {
  //padding: 0 10px;
  font-size: 14px;
  color: $inputCaption;

  display: inline-block;
}
.input_file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Hover/active */
.input_file:hover .input_file_btn {
  opacity: 0.75;
}
.input_file:active .input_file_btn {
  background-color: $notifyColor;
}

/* Disabled */
.input_file input[type="file"]:disabled + .input_file_btn {
  background-color: #eee;
}

.files {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;

  &__name {
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
    display: block;

  }

  &__row {
    display: flex;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.img {
  width: 12px;
}

.survey {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &_btn {
    width: 250px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &_item {
    width: 300px;
  }
}