@import "../../styles/variables.scss";

.form {
  position: relative;
}

.search {
  width: 288px;
  height: 48px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #ebeaea;
  background-color: #fff;
  outline: none;
  padding-left: 40px;
  font-size: 14px;

  &::placeholder {
    color: #c5c5c5;
  }
}

.imgLoupe {
  height: 20px;
  width: 20px;
  left: 12px;
  top: 12px;
  position: absolute;

}
