@import "../../styles/variables.scss";

.popup {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    color: $primaryColor;
    top: 0;
    left: 0;
    z-index: 3;
    inset: 0;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;

    &_opened {
        visibility: visible;
        opacity: 1;
    }

    &__container {
        position: relative;
        width: 300px;
        font-size: 12px;
        background: $thirdColor;
        border-radius: 10px;
        padding: 20px 17px 20px;
        box-sizing: border-box;
        margin: 0;
    }
}

.truncate {
    color: #3B9ACD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 0.7;
    }
}

.dateFromNow {
    color: #BDBDBD;
    font-size: 9px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.btnShow {
    background: none;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    color: #20814D;
    margin: 0;
    padding: 0;
}