@import "../../styles/variables.scss";

.popup__container {
  z-index: 3;
  position: absolute;
  width: 550px;
  font-size: 12px;
  background: $notifyColor;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 17px 20px;
  box-sizing: border-box;
  margin: 0;
  top: 30px;
  right: 1px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);

  &_opened {
    visibility: visible;
    opacity: 1;
  }
}

.truncate {
  color: $thirdColor;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  &:hover {
    opacity: 0.7;
  }
}

.dateFromNow {
  color: #bdbdbd;
  font-size: 9px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.btnShow {
  background: none;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  color: #20814d;
  margin: 0;
  padding: 0;
}
