@import "../../styles/variables.scss";

.comment {
  display: flex;
  flex-direction: column;

  &_text {
    width: 100%;
    height: 100px;
    border-radius: 6px;
    padding: 12px 16px;
    font-family: "Poppins", sans-serif;
    color: $inputCaption;
    border: 1px solid $inputColor;
    font-size: 14px;
    color: $primaryColor;
    outline: none;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar-thumb {
      background: $inputColor;
      border-radius: 10px;
      width: 3px;
    }
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}

.caption {
  color: $inputCaption;
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 0;
}

.input_wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
  margin: 0;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file_icon_wrapper {
  padding-left: 8px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.input__file_button_text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.input__file_button {
  position: absolute;
  top: -50px;
  left: 12px;
  border-radius: 5px;
  background: $thirdColor;
  color: $primaryColor;
  border: 0;
  width: 100px;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
  margin: 0;
  &:hover {
    opacity: 0.75;
    transition: opacity 0.2s ease;
  }
}

.files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_title {
    margin: 0;
    margin-right: 10px;
  }

  &_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
