@import "../../styles/variables.scss";
.title {
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
}

.container {
  margin-top: 40px;
  background: $thirdColor;
  padding: 40px;
  border-radius: 15px;

  &__estimate {
    display: flex;
    gap: 120px;
  }
}

.container1 {
  background: $thirdColor;
  padding: 40px;
  padding-top: 0;
  border-radius: 15px;
}

.name {
  max-width: 300px;
  margin: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.table {
  &__container {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    scroll-behavior: smooth;
    height: 31vh;
    padding-right: 10px;

    &::-webkit-scrollbar-thumb {
      background: $inputColor;
      border-radius: 10px;
      width: 3px;
    }
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
  &__head {
    padding-right: 14px;
    display: block;
  }
}

.row {
  position: relative;
  align-items: center;
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: $dashboardTitleColor;
  transition: all 0.2s ease;
  text-align-last: left;
  column-gap: 14px;
  padding: 4px 0;
  cursor: grab;

  &__item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__watch {
    cursor: default;
  }

  grid-template-columns:
    242px minmax(90px, 1fr) 55px minmax(156px, 1fr) minmax(156px, 1fr)
    minmax(150px, 1fr) 144px 153px 40px;
  width: 100%;

  & > th {
    font-weight: 600;
    color: $inputCaption;
  }

  & > td {
    text-overflow: ellipsis;
    white-space: nowrap;
    // overflow: hidden;
  }

  &_drag {
    opacity: 0.4;
  }
  & > .price {
    // justify-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 144px;
  }
}

thead > tr {
  &.row {
    cursor: default;
  }
}

.icon {
  &__delete {
    border: 1px solid $inputColor;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.75;
    }
  }

  &__drag {
    position: absolute;
    top: 14px;
    left: -20px;

    height: 20px;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.75;
    }
  }
}

.buttons {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.cancel {
  margin: 0;
  color: $primaryColor;
  font-size: 16px;
  cursor: pointer;
  color: $inputCaption;
  transition: opacity 0.15s linear;
  &:hover {
    opacity: 0.7;
  }
}

.button {
  &__add {
    border: none;
    background: none;
    outline: none;
    color: $inputColor;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease;
    margin-top: 40px;
    &:hover {
      color: $mainColor;
    }
  }
}

.notFound {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  color: $inputColor;
}

.table__list {
max-width: 242px;
  // height: 100px;
}
// .table__list::-webkit-scrollbar {
//   width: 8px;
// }

// .table__list::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// .table__list::-webkit-scrollbar-thumb {
//   background-color: #454545;
//   border-radius: 3px;
// }

// .table__list::-webkit-scrollbar-thumb:hover {
//   background-color: gray;
// }

//----------------------------СТРАНИЦА ПРОСМОТРА КП------------------------------------------------------------------------------------------
.subtitle {
  font-size: 14px;
  color: $inputCaption;
  margin-bottom: 60px;
  &__bold {
    font-weight: 600;
  }
}

//----------------------------СТРАНИЦА СОСТАВЛЕНИЯ СМЕТ------------------------------------------------------------------------------------------
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-right: 25px;
  height: 50vh;

  &::-webkit-scrollbar-thumb {
    background: $inputColor;
    border-radius: 10px;
    width: 3px;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }

  &__header {
    font-weight: 600;
    color: $inputCaption;
  }
  &__row {
    margin-bottom: 13px;
    display: grid;
    grid-template-columns: 350px 100px;
    color: $inputCaption;
    &:last-child {
      margin-bottom: 60px;
    }
  }

  &__checkbox {
    margin-right: 10px;

  }
  &__name {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.75;
    }
  }

  &__count {
    text-align: center;
  }
}

.estimates {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-right: 25px;
  height: 50vh;

  &::-webkit-scrollbar-thumb {
    background: $inputColor;
    border-radius: 10px;
    width: 3px;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
}

.estimate {
  margin-bottom: 13px;
  color: $mainColor;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.75;
  }
  &__name {
    margin-left: 13px;
    width: 260px;
  }
}

.deleteEstimate {
  width: 16px;
  height: 16px;
}

.content {
  min-height: 200px;
  margin-top: 40px;
}

//-------------------------------------------------------------INPUT--------------------------------------------------------------------------
.input_file {
  position: relative;
  display:flex;
  align-items: center;
}
.input_file_btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  width: 168px;

  color: rgb(255 255 255);
  font-family: "Montserrat", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $mainColor;
  height: 40px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: opacity 0.2s;
}
.input_file_text {
  padding: 0 10px;
  font-size: 14px;
  color: $inputCaption;

  display: inline-block;
}
.input_file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Hover/active */
.input_file:hover .input_file_btn {
  opacity: 0.75;
}
.input_file:active .input_file_btn {
  background-color: #2e703a;
}

/* Disabled */
.input_file input[type="file"]:disabled + .input_file_btn {
  background-color: #eee;
}


.excel__files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  &__row {
    font-weight: 400;
    color: $mainColor;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .excel__name {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    box-sizing: border-box;
  }
}