@import "../../styles/variables.scss";
.title {
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
}

.container {
  margin-top: 40px;
  background: $thirdColor;
  padding: 40px;
  border-radius: 15px;
}

.name {
  max-width: 300px;
  margin: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.table {
  &__container {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  scroll-behavior: smooth;
  max-height: 41vh;
  padding-right: 10px;

  &::-webkit-scrollbar-thumb {
    background: $inputColor;
    border-radius: 10px;
    width: 3px;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
}
&__head{
  padding-right: 14px;
  display: block;
}
}

.row {
  position: relative;
  align-items: center;
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: $dashboardTitleColor;
  transition: all 0.2s ease;
  text-align-last: left;
  column-gap: 14px;
  padding: 4px 0;
  cursor: grab;

  &__watch {
    cursor: default;
  }

  grid-template-columns: minmax(200px, 1fr) minmax(102px, 1fr) minmax(87px, 1fr) minmax(
      173px,
      1fr
    ) minmax(150px, 1fr) 144px 153px 40px;
  width: 100%;

  & > th {
    font-weight: 600;
    color: $inputCaption;
  }

  & > td {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
  }

  &_drag {
   opacity: 0.4;
  }
  & > .price {
   // justify-self: center;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    max-width: 144px;
  }
}

  
thead > tr {
  &.row {
    cursor:default;
  }
}

.icon {
  &__delete {
    border: 1px solid $inputColor;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.75;
    }
  }

  &__drag {
    position: absolute;
    top: 14px;
    left: -20px;
   
    height: 20px;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.75;
    }
  }
}


.buttons {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.cancel {
  margin: 0;
  color: $primaryColor;
  font-size: 16px;
  cursor: pointer;
  color: $inputCaption;
  transition: opacity 0.15s linear;
  &:hover {
    opacity: 0.7;
  }
}

.button {
  &__add {
    border: none;
    background: none;
    outline: none;
    color: $inputColor;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: color .2s ease;
    margin-top: 40px;
    &:hover {
      color: $mainColor;
    }
  }
}

.notFound {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  color: $inputColor;
}

//----------------------------СТРАНИЦА ПРОСМОТРА КП------------------------------------------------------------------------------------------
.subtitle {
  font-size: 14px;
  color: $inputCaption;
  margin-bottom: 60px;
  &__bold {
    font-weight: 600;
  }
}