@import "../../styles/variables.scss";
.title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
  }

  .container{
    margin-top: 40px;
    background:$thirdColor ;
    padding: 40px;
    border-radius: 15px;
  }