@import "../../styles/variables.scss";

.admin {
  margin-top: 40px;
  display: flex;

  &__dropdown {
    margin-bottom: 8px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $thirdColor;
    max-width: 600px;
    width: 100%;
    height: 80vh;
    padding-left: 59px;
    padding-right: 41px;
    padding-bottom: 50px;
    border-radius: 10px;
    border: 1px solid #f0f2f5;
    margin-right: 51px;
  }

  &__title {
    margin-top: 43px;
    margin-bottom: 14px;
  }

  &__buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  &__textarea {
    max-width: 422px;
  }

  &__input {
    width: 100%;
    max-width: 422px;
    margin-bottom: 15px;
  }
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $thirdColor;
  max-width: 849px;
  width: 100%;
  padding-left: 49px;
  padding-right: 73px;
  padding-bottom: 50px;
  border-radius: 10px;
  border: 1px solid #f0f2f5;

  &_title {
    margin-top: 43px;
    margin-bottom: 14px;
  }

  &_block {
    display: flex;
    flex-direction: column;
  }
}

.table {
  &_title {
    display: grid;
    grid-template-columns: 269px 153px 160px 130px;
    text-align: left;
    & > th {
      font-weight: 400;
      color: $subtitleColor;
    }
    & > td {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &_content {
    list-style: none;
    display: grid;
    grid-template-columns: 269px 153px 160px 130px;
    padding: 0;
    margin-top: 25px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &_row {
    padding-right: 7px;
    font-size: 16px;
    color: $primaryColor;
    min-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &_rowName {
    padding-right: 7px;
    font-size: 16px;
    color: $primaryColor;
    min-height: 30px;
    display: flex;
    align-items: center;
    gap: 7px;

    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
  }
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.button_text {
  border: none;
  background-color: $thirdColor;
  color: $primaryColor;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 0;

  &:hover {
    opacity: 0.7;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 78px;
}

.input_file {
  position: relative;
  // display: flex;
  // align-items: center;
}
.input_file_btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  width: 168px;

  color: rgb(255 255 255);
  font-family: "Montserrat", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $notifyColor;
  height: 40px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: opacity 0.2s;
}
.input_file_text {
  //padding: 0 10px;
  font-size: 14px;
  color: $inputCaption;

  display: inline-block;
}
.input_file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Hover/active */
.input_file:hover .input_file_btn {
  opacity: 0.75;
}
.input_file:active .input_file_btn {
  background-color: $notifyColor;
}

/* Disabled */
.input_file input[type="file"]:disabled + .input_file_btn {
  background-color: #eee;
}

.files {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
  &__container {
    display: flex;
    align-items: center;
  }
  &__name {
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    display: block;
  }
}

.img {
  width: 12px;
}

.profile {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin-top: 50px;
  background-color: $thirdColor;
  border-radius: 10px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  border-right: 1px solid $line;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px 50px;
  max-width: 422px;
  width: 100%;
  &_title {
    margin-top: 50px;
    margin-bottom: 14px;
  }
}

.blockText {
  margin-bottom: 33px;

  &_title {
    font-size: 16px;
    line-height: auto;
    margin-bottom: 5px;
    margin-top: 0;
    color: $inputCaption;
  }

  &_text {
    margin: 0;
    font-size: 14px;
    line-height: auto;
    color: $primaryColor;
  }

  &_icon {
    display: flex;
  }
}

.button {
  margin-top: 30px;
  &_delete {
    text-decoration: none;
    color: $statusHard;
    transition: opacity 0.15s linear;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 1505px) {
  .users {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (max-width: 1450px) {
  .users {
    max-width: 638px;
  }

  .table {
    &_title {
      grid-template-columns: 269px 153px 160px;
    }
    &_content {
      grid-template-columns: 269px 153px 160px;
    }
  }
}

@media screen and (max-width: 1230px) {
  .admin {
    flex-direction: column;
    gap: 40px;

    &__container {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 834px) {
  .users {
    max-width: 497px;
  }

  .table {
    &_title {
      grid-template-columns: 269px 153px;
    }
    &_content {
      grid-template-columns: 269px 153px;
    }
  }
}

@media screen and (max-width: 592px) {
  .users {
    border: none;
  }

  .admin {
    &__container {
      border: none;
    }
  }
}

@media screen and (max-width: 490px) {
  .admin {
    align-items: center;

    &__container {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      height: auto;
    }

    &__title {
      margin-top: 0;
    }

    &__buttons {
      margin-top: 50px;
    }
  }

  .files {
    flex-direction: column;
    align-items: flex-start;
  }

  .users {
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .table {
    &_title {
      grid-template-columns: 270px;
    }
    &_content {
      grid-template-columns: 270px;
    }
  }
}
