@import "../../styles/variables.scss";
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20814d;
  background-color: $statusDoneColor;
  border-radius: 4px;
  width: 100px;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  &__do {
    background-color: $statusDoColor;
    color: #3b9acd;
  }

  &__todo {
    background-color: $statusToDoColor;
    color: #f47633;
  }

  &.null {
    background-color: $bgNullColor;
    color:  $nullColor;
  }
}
