@import "../../styles/variables.scss";


.button {
  outline: none;
  width: 168px;
  height: 40px;
  color: $thirdColor;
  font-size: 16px;
  line-height: auto;
  background-color: $mainColor;
  padding: 8px 0;
  border-radius: 10px;
  border: none;
  margin-right: 17px;
  cursor: pointer;
  transition: opacity 0.15s linear;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &_big {
    width: 100%;
  }
}
