@import "../../styles/variables.scss";
.user {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.name {
  margin: 0;
  color: $primaryColor;
  margin-left: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.phone {
  margin: 0;
  color: $primaryColor;
  margin-left: 10px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 5px;
}
